<div class="row">
  <div class="col-lg-10">
    <div class="page-header">
      <h1>Editing solar_garden</h1>
    </div>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @solar_garden %> |
<%= link_to 'Back', solar_gardens_path %>
